<!DOCTYPE html>
<html lang="en">
<head>
	<title>About</title>
	<link rel="icon" href="/img/weather.png">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
	<div class="main-content">
		{{>header}}
		<p>This site was created by Sunandan Gupta. It uses data from mapbox.com and darksky.net.
			<br>
			This site can tell you weather of the place you will search.
			<br>
			I have used nodeJS for backend functionalities.
		</p>
		<div>
			<img class="portrait" src="./img/IMG_20200218_164744.jpg" alt="">
		</div>
	</div>
	{{>footer}}
</body>
</html>